.heading{
    text-align: center;
    color:#ffffff;
    font-size: 20px;
    font-family: "roboto";
    font-weight: bold;
    background-color: #529703;

}

.subject{
    background-color: #e6fdcb;
}
.subject1{
    background-color: #cffc9b;
}